<container>
    <row class="collapse">
        <columns large="5">
            <img class="footer__social-img" src="https://alium-templates.s3.eu-central-1.amazonaws.com/telegram-alium.png" alt="telegram logo">
            <a class="footer__link" href="https://t.me/aliumart" target="_blank" rel="noopener" title="t.me/aliumart">t.me/aliumart</a>
            <span class="footer__socials-delimiter">/</span>
            <a class="footer__link" href="https://t.me/aliumartnews" target="_blank" rel="noopener" title="t.me/aliumartnews">t.me/aliumartnews</a>
        </columns>
        <columns large="3">
            <img class="footer__social-img" src="https://alium-templates.s3.eu-central-1.amazonaws.com/twitter-alium.png" alt="twitter logo">
            <a class="footer__link" href="https://twitter.com/aliumartnft" target="_blank" rel="noopener" title="@aliumartnft">@aliumartnft</a>
        </columns>
        <columns large="3">
            <img class="footer__social-img" src="https://alium-templates.s3.eu-central-1.amazonaws.com/instagram-alium.png" alt="instagram logo">
            <a class="footer__link" href="https://www.instagram.com/aliumartnft" target="_blank" rel="noopener" title="@aliumartnft">@aliumartnft</a>
        </columns>
    </row>
</container>
